@import "tailwindcss";

@theme {
  --color-background: "#121434";
}

@font-face {
  font-family: "CustomFont";
  src: url("../assets/fonts/your-font-file.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "CustomFont", sans-serif;
}
